/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
* {
  box-sizing: border-box;
}
header {
  position: relative;
  background-color: #dfbbae;
}
#topnav {
margin-bottom:20px;
 height: 50px;
}
#topnav1 {
  height:50px;
  background-color: #dfbbae;
}
#topnav2 {
  height:50px;
  background-color: #ffffff;
}

body {
  background-color: #dfbbae;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

footer {
transform:rotate(90deg);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  color: #400101;
}
h1 {
  font-family: 'antic didone', serif;
  background-color: #dfbbae;
  font-size: 10em;
  font-weight: 500;
  position: absolute;
  white-space: nowrap;
}


h1 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin-top: 100px;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 9s linear infinite;
 -webkit-animation: scroll-left 9s linear infinite;
 animation: scroll-left 9s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

p {
  margin-top:0;
  color: #400101;
}

h2 {
  font-size: 4.5em;
  line-height: 1em;
  font-weight: 100;
  position: absolute;
}

h2 span {
  display:block;
}

h3 {
  font-size: 3em;
  font-weight: 100;
}
h4 {
  font-size: 1.4em;
  font-weight: 600;
}
h5 {
  font-size: 6em;
  font-weight: 100;
}
h5{
  color: #400101;
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
  position: relative;
}
h5:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #8C403A;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h5:hover:after {
  width: 100%;
  left: 0;
}
h6 {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6em;
}
img {
  width: 80%;
  padding: 30px 0;
}

a {
  color: #400101;
  font-size: 18px;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #400100;
}
a:hover,
a:focus {
  color: #8C403A;
}
a:active { /* selected link */
  color: #400101;
}

.underline {
  text-decoration: underline;
  color: #BF793B !important;
}
.underline:hover {
  color: #8C403A !important;
}


/* Layout styling */
.container {
  padding: 100px 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.logo {
  max-width: 280px;
  font-size:36px;
  display: block;
  margin-left: 30px;
  margin-right: 80px;
  font-family: 'antic didone', serif;
  color: #400100;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  margin-right:70px;
  text-transform: uppercase;
  font-weight: 600;
  color: #400100;
}



.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: inline-block;
  padding: 5px 0px;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
#cb2, #audiosounz, #recollection, #nomadly, #about, #aboutme, #skills {
  background-color: #ffffff;
}
#nomadly img {
margin-left: auto;
margin-right: auto;
}
#audiosounz img {
margin-left: auto;
margin-right: auto;
}
#recollection img {
  margin-left: auto;
  margin-right: auto;
}
#cb2 img {
margin-left: auto;
margin-right: auto;
}

#creativedirection img {
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;
}
#creativedirection h4 {
  margin-top:100px;
}
#hero {
  text-align: center;
  background-color: #dfbbae;
  padding: 280px 0;
  width: 100%;
  margin-left: -50px;
  margin-bottom: -50px;
}
#about {
  margin-top: 100px;
}
#aboutme {
  width:75%;
  margin-left: 100px;
}
#kijoophoto2 {
  margin-top:-150px;
  transform: scale(.85);
}

#skills {
  margin-top: -100px;
}

#contact {
  margin-left:670px;
}
#socialicons {
margin-left:590px;
margin-top:-50px;
width:100%;
}

#socialicons a {
display:inline-block;
font-size:18px;
margin-left: 100px;
letter-spacing: 1px;
}
#socialicons a:hover {
  font-weight: bold;
  color:#400101;
}

.image-stack {
  position: relative;
  width:100%;
}
.image-stack_item--bottom {
  position:absolute;
  top:140px;
  right:-80px;
  width:100%;
  z-index:-1;
}
.image-stack_item--middle {
  padding-top: 45%;
  margin-left:60%;
  width:100%;
}
.image-stack_item--top {
  margin-top:-500px;
  padding-right:24%;
  width:80%;
}
img {
  display: block;
}
#item1 h2 {
  margin-top:-12px;
}
#item3 h2 {
  margin-top:-80px;
}
#item4 h2 {
  margin-top:-40px;
}
#item5 h2 {
  margin-top:-70px;
}
#item6 h2 {
margin-top:180px;
}
.scale {
transform:scale(1.3);
}
.scale1 {
transform:scale(1.26);
}
.scale2 {
width:85%;
}
.scale3 {
  width:65%;
}
.scale4{
  width:45%;
}
.dropshadow {
  box-shadow:10px 10px 30px #cdcdcd;
  transform:scale(.85);
}
.overlay-image {
  position:relative;
  width:100%;
}
.overlay-image .image {
  display:block;
  width:100%;
  height:auto;
}
.overlay-image .hover{
  position:absolute;
  top:14px;
  right:-3px;
  height:100%;
  width:100%;
  opacity:0;
  transition:.5s ease;
}
.overlay-image:hover .hover{
  opacity:1;
}
.shape2 {
  margin-top:11px;
  margin-left:-3px;
}
.shape3 {
  height:650px;
  margin-top:-13px;
  margin-left:-3px;
}
.shape4 {
  transform:scale(1.04);
  margin-top:-15px;
  margin-left:-8px;
}
.shape5 {
  margin-top:-14px;
  margin-left:-3px;
}
.shape6 {
  transform: scale(1.4);
  margin-top:200px;
  margin-left:260px;
}
#item1  {
transform:rotate(90deg);
margin-right:50px;
}
#item2  {
transform:rotate(90deg);
margin-right:50px;
margin-top:350px;
}
#item3  {
transform:rotate(90deg);
margin-right:100px;
margin-top:130px;
}
#item4  {
transform:rotate(90deg);
margin-right:50px;
margin-top:100px;
}
#item5  {
transform:rotate(90deg);
margin-top:120px;
}
#item6  {
transform:rotate(90deg);
padding-left:150px;
}
#item7 {
margin-top:300px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color:white;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color:#400101; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 17px; /* Increase font size */
  letter-spacing: 1px;
  font-weight:bold;
}

#myBtn:hover {
  transform:scale(1.1);
  color: #8C403A;
}


//*  horizontal scroll  *//
      .slide {
        width: 100vw;
        height: 100vh;
      }
      .wrapper {
        display: flex;
        flex-direction: row;
        width: 400vw;
      }

      .wrapper {
      ...
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
      }
      .outer-wrapper {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
      }

     .outer-wrapper {
     ...
       scrollbar-width: none;
       -ms-overflow-style: none;
     }
     ::-webkit-scrollbar {
       display:none;
     }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    width: 100%;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 20px;
    font-size: 18px;
  }
  nav > ul {
    margin:1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .logo {
    width: 240px;
    margin-left: 30px;
    margin-top: 32px;
    float: left;
  }
  #hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#aboutme h3 { margin-top: 0;}
      }
      /* ==============================
     x-Large devices (1366px and larger)
      ================================= */
          @media only screen and (min-width: 1366px) {
      h2 {
       font-size: 3.2em;
                  }
         #item1 h2 {
          margin-top: 20px;
        }
         #item2 h2 {
          margin-top: 20px;}
         #item3 h2 {
          margin-top: 20px;}
         #item4 h2 {
          margin-top: 20px;}
         #item5 h2 {
          margin-top: 20px;}
         #item6 h2 {
          margin-top: 20px;}
             .image-stack_item--top {
                      margin-top:-560px;
                      padding-right:24%;
                      width:50%;}
            
}
            /* ==============================
            Extra-Large devices (1920px and larger)
            ================================= */
                @media only screen and (min-width: 1920px) {
                .logo {
                  margin-top:30px;
                  font-size:46px;
                }
                nav a{
               font-size: 23px;
                }
                nav {
                  margin-top:34px;
                }
                  footer {
                    margin-top:550px;
                  }
                  h5 {
                    font-size: 6.8em;}
                  h2 {
                    font-size: 3.4em;
                  }
        #item1 {
          margin-top:120px;
        }
        #item1 h2 {
          margin-top: 18px;
        }
    
        #item3 {
          margin-top:150px;
        }
        #item4 {
          margin-top:80px;
        }
        #item2 {
          margin-top:440px;
        }
        #item5 {
          margin-top:230px;
        }
        #item6 {
          margin-top:100px;
        }
        #item6 h2{
        margin-top:230px;
        }

        #socialicons a {
          font-size: 24px;
        }
                    .image-stack_item--bottom {
                      position:absolute;
                      top:180px;
                      right:-80px;
                      width:100%;
                      z-index:-1;
                    }
                    .image-stack_item--top {
                      margin-top:-560px;
                      padding-right:24%;
                      width:65%;}
   .shape3 {
   height:100% !important;}
   .shape6 {
     margin-top:200px;
     margin-left:100px;
   }
}
